:root {
    --color-screen-bg: #292b37;
    --color-txt: #fff;
    --color-btn-bg: #52bc57;
    --color-btn-border: #2f7932;
    --color-bullet: #2c96dd;
}
body {
    background: #292b37;
    color: #fff;
    background: url(../media/Sin\ título.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#fire {
    text-align: center;
    right: 30%;
    bottom: 10%;
    position: fixed;
}
.float__buy-bar {
    width: 100px;
    line-height: 40px;
    text-align: center;
    right: 30%;
    bottom: 0;
    position: fixed;
    background: #52bc57;
}
.float__buy-bar span {
    font-size: 24px;
    line-height: 1;
}
  
.btn {
    background: var(--color-btn-bg);
    border-bottom: 2px var(--color-btn-border) solid;
    width: 120px;
    line-height: 40px;
    display: block;
    text-align: center;
    border-radius: 3px;
    margin: 500px 0px 0px 100px;
    cursor: pointer;
}
.btn::selection {
    background: none;
}
  
#circle,
p {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--color-bullet);
    position: absolute;
    display: block;
    z-index: 2;
}
  
p {
    background: #dc3b3b;
    z-index: 1;
}