<html lang="en">
<head>
    <title>Barra Potencia</title>
    <link rel="stylesheet" href="./../css/ejemplo3.css">
</head>
<body>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
    <div class="progress-bar">
        <span id="fill" class="progress-bar-fill" style="width: 0%"></span>
    </div>
    <div class="progress-bar">
        <div class="progress-line ">
            <span id="line" class="line"></span>
        </div>
    </div>
    <div id="test" style="display: block; background-color: red; width: 20%; height: 100px;">
    </div>
    <button id="btn">Ejecutar</button>
</body>
    <script src="./../js/jquery.min.js"></script>
    <script src="./../js/ejemplo3.js"></script>
</html>
