:root {
    --scale: 2;
    --wheel-size: 75px;
    --cannon-size: 150px;
    --trans-x: -20px;
    --trans-y: -15px;
}

#full-cannon {
    position: relative;
    display: block;
    top: 10%;
    left: 15%;
    width: var(--cannon-size);
    height: var(--cannon-size);
}

.wheel {
    position: absolute;
    bottom: 0;
    left: calc( var(--cannon-size)/2 - var(--wheel-size) / 2 );
}

div.wheel span {
    display: block;
    width: 75px;
    height: 75px;
    background-color: white;
    border-radius: 90px;
}
div.wheel img {
    position: absolute;
    top: 0;
    left: 0;
}